// colors
$primary: #0077b6;
$secondary: #1b1b1b;
$white: #fff;
$black: #000;
$btn-hover: #005f86;
$border-color: #e3e3e3;
$search-bg-color: rgba(243, 243, 243, 0.1);
$banner-text-bg-color: #130b0385;
$cutting-banner-bg-color: #020100;
$products-link-color: #4169b3;
$error-color: #c23934;
$error-msg-color: #ff00000d;

$grey1: #f7f7f7;
$grey2: #d1d1d1;
$grey3: #a4a4a4;
$grey4: #d7d7d7;
$grey5: #404040;

//fonts
$font100: 100;
$font200: 200;
$font300: 300;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font800: 800;
$font900: 900;
